<?xml version="1.0"?>
<robot name="rilab_robot" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- ur5e --> 
  <xacro:include filename="$(find ir_gazebo)/urdf/ur5e/ur5e.urdf.xacro" />
  <xacro:ur5e_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
  />

  <!--onrobot_rg2_gripper-->
  <xacro:include filename="$(find ir_gazebo)/urdf/rg2/onrobot_rg2_gripper.urdf.xacro" />

   <!--workstation-->
  <xacro:include filename="$(find ir_gazebo)/urdf/workstation.urdf.xacro" />

   <!--workspace-->
  <xacro:include filename="$(find ir_gazebo)/urdf/table.urdf.xacro" />

  <!--Realsense D435-->
  <xacro:include filename="$(find ir_gazebo)/urdf/realsense_d435/d435.urdf.xacro" />

   <!-- Attach Onrobot RG2 Gripper to UR5e -->
  <xacro:onrobot_rg2_gripper prefix="" parent="tool0">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:onrobot_rg2_gripper>

  <!-- Attach UR5e to the Workstation -->
  <joint name="robot_workstation_joint" type="fixed">
    <parent link="workstation_link" />
    <child link = "base_link" />
    <origin xyz="0.18 0.0 0.395" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- Attach the table to the world -->
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "table_base_link" />
    <origin xyz="0.83 0.0 0.0" rpy="0.0 0.0 0.0" /> <!--0.76/2+0.9/2-->
  </joint>

  <!-- Attach D435 to the baselink of UR5e -->
  <xacro:sensor_d435 name="camera" topics_ns="camera" parent="base_link" publish_pointcloud="true">
    <origin xyz="0. 0.0 0.7" rpy="0 0.7 0" /> 
  </xacro:sensor_d435>

  <gazebo>
    <plugin name="ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin> 
  </gazebo>


</robot>

