<?xml version="1.0"?>
<launch>

  <!-- Load robot description -->
  <include file="$(find ir_gazebo)/launch/description.launch" >
  </include>

  <!--Load arm_controller-->
  <rosparam file="$(find ir_gazebo)/config/arm_controller.yaml" command="load"/>
      <!-- load the controllers(arm_controller, gripper_controller) -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="arm_controller" />
  <node name="controller_spawner_hand" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="gripper_controller" />
  
  <!-- joint_state_controller -->
  <rosparam file="$(find ir_gazebo)/config/joint_state_controller.yaml" command="load"/>
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"/>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen"/>

</launch>
