<?xml version="1.0"?>

<launch>

  <arg name="world_name" default="worlds/empty.world"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find ir_gazebo)/launch/spawn_robot.launch">
  </include>

</launch>


<!--

  <node pkg ="ril_tamp_python" type="object_pos_checker.py" name="objec_pos"></node>
  <node pkg ="ril_tamp_python" type="object_spawn.py" name="objects"></node>
  
  <include file="$(find ril_yet_moveit_config)/launch/move_group.launch">
    <arg name="debug" default="$(arg debug)" />
  </include>
-->

<!--
  <node pkg ="ril_tamp_python" type="object_spawn.py" name="objects"></node>
  
  <include file="$(find moveit_config)/launch/moveit_rviz.launch">
    <arg name="debug" default="$(arg debug)" />
    <arg name="rviz_config" default="true" />
  </include>



  <node pkg ="ril_mm_python" type="initial_pose.py" name="arm_initial_pose"></node>
  <node name="spawn_cube_mini_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find ril_teleoperation)/gazebo/urdf/objects/object_cube_mini.urdf -urdf -model cube_mini -x 2.2 -y 0.0 -z 0.9" />
  <node name="spawn_table_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find ril_teleoperation)/gazebo/urdf/objects/table_mini_wide2.sdf -sdf -model table -x 2.45 -y 0.0 -z 0.0" />
  <node name="spawn_env_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find ril_teleoperation)/gazebo/urdf/objects/env.urdf -urdf -model env -x 2.75 -y 0.0 -z 0.0" />

-->
